/* Import Lexend font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Apply Lexend font to whole page */
*{
     font-family: 'Lexend', sans-serif;
}
.navbar, .nav-link, .navbar-brand {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff !important; /* light green text */
}

/* Bigger navbar brand */
.navbar-brand {
  font-size: 28px;
}

/* Override link hover to a slightly brighter green */
.nav-link:hover {
  color: #013d01 !important;
}
